{% extends "simplevideos/base.html" %}

{% block meta_title %}{{ video.snippet.title }} - {% if playlist.snippet.title %}{{ playlist.snippet.title }} - {% endif %}{{ block.super }}{% endblock %}

{% block content %}

  <div class="container main">

    {% if playlist %}
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <a href="{% url simplevideos.playlist playlist.id %}">&laquo; {{ playlist.snippet.title }}</a>
        </h1>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-md-12 video-details">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="1280" height="750" src="https://www.youtube.com/embed/{{ video.id }}?showinfo=0&modestbranding=1&rel=0{% if playlist %}&listType=playlist&list={{ playlist.id }}{% endif %}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% block video_details %}
        <h3 class="video-details-title">{{ video.snippet.title }}</h3>
        {% block video_meta %}{% endblock %}
        <p class="video-details-description">{{ video.snippet.description|urlize }}</p>
        {% endblock %}
      </div>
    </div>

  </div>

{% endblock %}